* {
    box-sizing: border-box;
}

article {
    border: red 1px solid;
}

body {
    margin: 0;
    font-family: "Comic Sans MS", Arial, Helvetica, sans-serif;
    background: #f5f6f7;
}

.header {
    text-align: center; 
    padding: 1rem;
    border-bottom: 4px solid black
}

  @media (prefers-reduced-motion: no-preference) {
      * {
          scroll-behavior: smooth;
      }
  }

