* {
    border: 1px solid red;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    font-family: "Comic Sans MS", Arial, Helvetica, sans-serif;
    margin: auto;
    text-align: center; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}