* {
    box-sizing: border-box;
}

  nav {
      width: 50%;
      max-width: 300px;
      height: 50px;
  }

  nav>ul {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      align-items: center;
      padding-inline-start: 0;
      margin-block: 0;
      height: 100%;
  }

  nav>ul>li {
      color: grey;
      margin: 0 0.2rem;
      padding: 0.2rem;
      display: block;
  }

  nav>ul>li:hover {
      background-color: #dfdfe2;
      color: #1b1b32;
      cursor: pointer;
  }

section {
    border: red 1px solid;
    padding: 10px;
}

.header {
    display: flex;
    justify-content: space-around;
    align-content: center;
    text-align: center; 
    padding: 1rem;
    border-bottom: 4px solid black
}

.header > h1{
    align-content: flex-start;
}

body {
    margin: 10px;
    font-family: "Comic Sans MS", Arial, Helvetica, sans-serif;
    background: #f5f6f7;
}

section > h2 {
    margin: 10px;
    text-align: center;
    padding: 1rem;
}

section > p {
    text-align: start;
    margin: 10px;
    padding: 1rem;
}



  @media (prefers-reduced-motion: no-preference) {
      * {
          scroll-behavior: smooth;
      }
  }

